<!-- <app-test></app-test> -->
<!-- <app-test2></app-test2> -->
<!-- <app-login></app-login> -->
 <!-- <app-register></app-register>  -->
 <!-- <app-showemployees></app-showemployees> -->
 <!-- <app-showemployee-by-id></app-showemployee-by-id> -->
 <app-header></app-header>
 <br/>
 <marquee ></marquee>

 <router-outlet></router-outlet>