<h2>PersonDetails :</h2>
Enter ID:   <input type="text" name="Id"   [(ngModel)]="Id"  /> <br/>
Enter Name: <input type="text" name="Name" [(ngModel)]="Name"  /> <br/><br/>

<button (click)="submit()"> Submit </button>
<!-- Two Way Data Binding: [(ngModel)]="person.name" -->
<br/><br/>

Id: {{Id}} <br/>
Name: {{Name}} <br/>
age: {{age}} <br/><br/>
<h3><u>Hobbies</u></h3>  
<ul>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ul>
<br/>
<h3><u>Address</u></h3> 
<ul>
    <li *ngFor="let address of address">{{address}}</li>
    streetNo:  15 <br/>
    city: Hyderabad <br/>
    state: Telangana
<br/><br/>
</ul>
